.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    text-align: start;
    width: 90%;
    margin-block-end: 0;
    margin-block-start: 8%;
  }

  h1 {
    font-size: 2.2em;
    line-height: 1.1;
  }

  a{
    margin-top: 5%;
    color: black;
  }